.sidenav a {
  display: block;
  line-height: 2.4em;
  margin: 0;
  border-radius: 0;

  &.active,  {
    box-shadow: inset 0 0 50em map-get($accent-color, a100);
    color: white;
  }

  &:hover, &:focus,  {
    box-shadow: inset 0 0 50em map-get($accent-color, a200) !important;
    color: white;
  }
}
