.layout-container
  .mn-card.padding-title
    h2 Users list

    .mn-table-list
      header
        h3 name
        h3 email

      a.mn-item(href='#', ng-repeat='user in home.users')
        span {{ :: user.name }}
        span {{ :: user.email }}
