.layout-container
  .mn-card.padding-title
    h2 Users list

    .mn-table-list
      header
        h3 name
        h3 email

      a.mn-item(href='#', ng-repeat='user in home.users')
        span {{ :: user.name }}
        span {{ :: user.email }}

  div.layout-row.align-end
    button.mn-button.action(aria-label='Prev' disabled): i.zmdi.zmdi-chevron-left.zmdi-hc-2x
    | 1 of 3
    button.mn-button.action(aria-label='Next'): i.zmdi.zmdi-chevron-right.zmdi-hc-2x
