.layout-container
  h2 Users list
  .mn-card.padding-title
    .mn-table-list
      a.mn-item(href='#' ng-repeat='user in users.list')
        span {{ :: user.name }}
        span {{ :: user.email }}

  div.layout-row.align-end
    button.mn-button.action(aria-label='Prev' disabled): i.zmdi.zmdi-chevron-left
    | 1 of 3
    button.mn-button.action(aria-label='Next'): i.zmdi.zmdi-chevron-right
