.layout-fullscreen.layout-centered.login
  h2.logotype mn-material

  mn-form.layout-column.mn-card.padding(name='form' submit='login.authenticate()')
    mn-input.icon.email(placeholder='Email' name='email' ng-model='login.credentials.email' required type='email')
    mn-input.icon.lock(placeholder='Password' name='password' ng-model='login.credentials.password' required type='password')
    
    button.mn-button.action.raised(type='submit'): i.zmdi.zmdi-long-arrow-right
    //- mn-button.raised login
