mn-sidenav.sidenav.left#menu
  a.mn-button(ui-sref='app.home' ui-sref-active='active' sidenav-toggle) Home
  a.mn-button(href='#' ui-sref-active='active' sidenav-toggle) Users
  a.mn-button(href='#' ui-sref-active='active' sidenav-toggle) Lorem ipsum

.sidenav-backdrop(sidenav-toggle)
