sidenav.sidenav.left
  a.mn-button(ui-sref='app.home' ui-sref-active='active') Home
  a.mn-button(href='#' ui-sref-active='active') Users
  a.mn-button(href='#' ui-sref-active='active') Lorem ipsum

.sidenav-backdrop(sidenav-toggle)
